.post-header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 12px;
    position: relative;
  }
  

  .back-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 6px;
    color: #3a86ff;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  
  .back-button:hover {
    text-decoration: underline;
  }
  
  .back-text {
    font-size: 1rem;
  }