.leaderboard {
    padding: 20px;
    max-width: 600px;
    margin: auto;
  }
  
  .leaderboard-list {
    list-style: none;
    padding: 0;
  }
  
  .leaderboard-item {
    display: flex;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    background: #f9f9f9;
    margin-bottom: 8px;
    border-radius: 8px;
  }
  
  .rank {
    font-size: 1.5rem;
    width: 40px;
    text-align: center;
    font-weight: bold;
  }
  
  .post-info {
    margin-left: 16px;
  }
  
  .votes, .category {
    font-size: 0.9rem;
    color: #555;
  }
  
  .leaderboard-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
@media screen and (max-width: 480px) {
  .main-grid {
    /* padding: 0.5rem; */
    min-width: 100%; 
  }
}

